// >>> fonts <<<

@font-face {
  font-family: "Abril Fatface";
  src: url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
}
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@font-face {
  font-family: "Work Sans";
  src: url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");

// >>> variables <<<
// $nameYourVariable: giveItAValue;
// use variable = $nameOfVariable

// colors
// https://color.adobe.com/search?q=pastelle

// Anthrazit Color-Scheme:
$a1: #f2f2f2;
$a2: #d9cac5;
$a3: #594d4a;
$a4: #8c7e7b;
$a5: #261e1c;

// >>> mixins <<<
@mixin flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
// @mixin name {
// }
